<form method="post" action="" role="form" class="col-lg-1 col-centered">
    <div class="form-group">
        <div class="form-group">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" id="name" value=""  class="input-block-level" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <br>
            <input type="text" name="email" id="email" value="" class="input-block-level" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <br>
            <textarea rows="2" name="message" id="message" class="input-block-level" placeholder="Comments"></textarea>
        </div>
        <div class="actions form-group">
        <input type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn btn-info pull-right" title="Click here to submit your message!" />
        </div>
    </div>
</form>  	