<div class="jumbotron">
  <h1>Hello, I'm Eddie!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                    <img src="/images/brp.jpg" class="img-responsive" alt="BRPTRAINING.com">
                    <a href='http://brptraining.com/'>BRPTRAINING.COM</a>
                </div>          
                <div class="col-6 col-sm-6 col-lg-4">
                    <img src="/images/mrp.jpg" class="img-responsive" alt="MICHYRPHOTOGRAPHY.com">
                    <a href='http://michyrphotography.com/'>MICHYRPHOTOGRAPHY.COM</a>
                </div> 
                <div class="col-6 col-sm-6 col-lg-4">
                    <img src="http://dummyimage.com/266x200/4682b4/b0c4de.jpg&text=Coming+Soon" class="img-responsive" alt="Responsove image">
                    <a>Under Construction</a>
                </div> 
                <div class="col-6 col-sm-6 col-lg-4">
                    <img src="http://dummyimage.com/266x200/4682b4/b0c4de.jpg&text=Coming+Soon" class="img-responsive" alt="Responsive image">
                    <a>Under Construction</a>
                </div>  
            </div>
        </div>
    </div>
</div>